<div class="tab-pane" id="content_views">
  <%= javascript_include_tag 'katello/content_view_definitions/host_content_view' %>
  <%= fields_for @host do |f| %>
    <div class="control-group">
      <%=  f.label :environment, _('Environment'), {:class => "control-label"} %>
      <div class="controls">
        <%=  f.select :kt_environment_id, Katello::KTEnvironment.all.collect{|env| [env.name, env.id]},
                      {:selected => "", :include_blank => true},
                      {:onchange => 'environment_selected(this);', :'data-url' => katello_environments_path()} %>
      </div>
    </div>
    <div class="control-group">
      <%=  f.label :content_view, _('Content View'), {:class => "control-label"} %>
      <div class="controls">
        <%=  f.select :content_view_id, [],
                      {:include_blank => true},
                      {:id => type + "_content_view_id", :name => type + "[operatingsystem_id]",
                       :label => _("Content View"),
                       :onchange => 'content_view_selected(this);', :'data-url' => method_path('os_selected')} %>
      </div>
    </div>
  <% end %>
</div>